@import url(https://fonts.googleapis.com/css?family=Varela+Round);

$color-background: #F5F5F5;
$color-main: #1abc9c;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;

.button_container {
  position: fixed;
  top: 5%;
  right: 5%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 150;
  transition: opacity .25s ease;

  @media (max-width: 992px) {
    height: 25px;
    width: 33px;
  }

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
    background: $color-main;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s, height 1s;
  overflow: hidden;
  z-index: 100;

  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight 1s ease forwards;
      animation-delay: 0.6s;

      &:nth-of-type(2) {
        animation-delay: .65s;
      }
      &:nth-of-type(3) {
        animation-delay: .7s;
      }
    }
  }
  nav {
    position: relative;
    height: 50%;
    top: 55%;
    transform: translateY(-50%);
    font-size: 80px;
    font-family: 'Varela Round', serif;
    font-weight: 400;
    text-align: center;

    @media (max-width: 992px) {
      font-size: 50px;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      margin-bottom: 20px;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      .active {
        animation: glow 0.5s ease-in-out;
        animation-fill-mode: forwards;
      }

      .non-active {
        animation: glowfade 0.5s ease-in-out;
        animation-fill-mode: forwards;
      }

      span {
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        font-family: Pacifico;

        &:hover {
          cursor: pointer;

          &:after {
             width: 110%;
          }
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes glow {
 0% {
   text-shadow: none;
 }
 25% {
   text-shadow: 0 0 8px #fff;
 }
 50% {
   text-shadow: 0 0 8px #fff, 0 0 16px #fff;
 }
 75% {
   text-shadow: 0 0 8px #fff, 0 0 16px #fff, 0 0 24px #fff;
 }
 100% {
   text-shadow: 0 0 8px #fff, 0 0 16px #fff, 0 0 24px #fff, 0 0 32px #fff;
 }
}

@keyframes glowfade {
 100% {
   text-shadow: none;
 }
 75% {
   text-shadow: 0 0 8px #fff;
 }
 50% {
   text-shadow: 0 0 8px #fff, 0 0 16px #fff;
 }
 25% {
   text-shadow: 0 0 8px #fff, 0 0 16px #fff, 0 0 24px #fff;
 }
 0% {
   text-shadow: 0 0 8px #fff, 0 0 16px #fff, 0 0 24px #fff, 0 0 32px #fff;
 }
}
