#loader-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
	font-family: "Open Sans", sans-serif;
  background-color: white;

	.loader {
		position: fixed;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  display: flex;
	  align-items: center;
	  justify-content: center;

		.loader-inner {
		  position: relative;
		  padding: 30px;
		  font-weight: 1000;
		  font-size: 4em;
		  letter-spacing: 0.4em;
		  text-transform: uppercase;
		  background-color: #fff;
			@media (max-width: 992px) {
				font-size: 1.5em;
				padding: 8px;
			}
		  &::before {
		    content: "";
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 33.33%;
		    height: 100%;
		    background-color: #000;
		    animation: animate 1s linear infinite alternate;
		    filter: contrast(10);
		  }

			.loader-text {
			  color: #fff;
			  mix-blend-mode: difference;
        will-change: opacity;
			}
		}
	}
}

@keyframes animate {
  100% {
    left: calc(100% - 33.33%);
  }
}
